.dr{
    color:#ff6400;
}
.za{
    color:#00ffe4;
}
.ar{
    color:#00ff24;
}
.mr{
    color: #ff000f;
}
.mch{
    color:#DAF7A6 ;
}
.zh{
    color: #d638ff;
}
.or{
    color:#00ffec ;
}
.nep{
    color:#0015ff ;
}
.it{
    color: #FFFF; ;
}
.ra{
    color: #fff; ;
}

